<div style="width:300px;height: 300px;">
   <div style="background-color: black;position: absolute;left:2px"> 
       <app-comp1></app-comp1>
   </div>
   
   <div style="background-color: black;position: absolute;left:300px"> 
    <app-comp2></app-comp2>
</div>

<div style="background-color: black;position: absolute;left:2px;top:300px"> 
    <app-comp3></app-comp3>
</div>

<div style="background-color: black;position: absolute;left:300px;top:300px"> 
    <app-comp4></app-comp4>
</div>

<div style="background-color: black;position: absolute;left:150px;top:150px"> 
    <app-comp5></app-comp5>
</div>
</div>
